<div class="container">
	<div class="row">
		<div class="span8">
			<h1>New Workout</h1>
		</div>
	</div>
	
	<div class="row">
	<form class="well form-inline">
		<div class="span4">
			<input type="text" name="movement-name" value="" id="movement-name" placeholder="Movement Name">
			<input type="button" name="btn-add-movement" value="Add" id="btn-add-movement" class="btn btn-primary">
			
			<label>
		</div>
		<div class="span3 offset1">
			<label>Sets or Rounds</label>
			<input type="text" name="workout[rounds]" value="" id="workout[rounds]" class="span1">
		</div>
	</form>
	</div>
	
	<div class="span6">
	<table class="table">
		<thead>
			<tr>
				<td><h4>May 17, 2012</h4></td>
				<td><h3>Reps</h3></td>
				<td><h3>Weight</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><h3>Movement Name</h3></td>
				<td>
					<input type="text" name="movement_1[reps]" value="" id="movement_1[reps]" class="span1">
				</td>
				<td>
					<input type="text" name="movement_1[weight]" value="" id="movement_1[weight]" class="span1">
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<script type="text/template" id="movement-template">
<tr>
	<td><h3> movementName</h3></td>
	<td>
		<input type="text" name="movement[reps]" value="" id="movement[reps]" class="span1">
	</td>
	<td>
		<input type="text" name="movement[weight]" value="" id="movement[weight]" class="span1">
	</td>
</tr>
</script>

<%= javascript_include_tag "workout" %>

